body {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    color: #000;
}

.title {
    font-family: 'Lobster', cursive;
}

.done {
    text-decoration: line-through;
    color: #cfcfcf
}
